img{
    width: 500px
   }
   body{
    background-color: aqua;
   }
   @media ( max-width: 800px) {
    img{
        width: 300px;
    }
    body{
        background-color: rgb(0, 255, 200); 
   }
   h1{
    display: none
    
    
   }
    
   